@import "./../../project/style.css";

:root {
  --loft-header-navigation__link-text-color: var(--white);
  --loft-header-burger__icon-item-bg-color: var(--white);
  --loft-header-burger__checkbox-checked-bg-color: var(--signal-black);
  --loft-main-image-bg-color: var(--white);
}

.loft-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 8em;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.loft-header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.loft-logo {
  width: 8em;
  height: 8em;
  cursor: pointer;
}

.loft-header-navigation__link {
  color: var(--loft-header-navigation__link-text-color);
}

.loft-header-burger {
  position: absolute;
}

.loft-header-burger__icon-item {
  background: var(--loft-header-burger__icon-item-bg-color);
}

.loft-header-burger__checkbox:checked ~ .loft-header-burger__icon .loft-header-burger__icon-item {
  background: var(--loft-header-burger__checkbox-checked-bg-color);
}

.loft-main-layout {
  position: relative;
}

.loft-main-image {
  height: 50em;
  background: var(--loft-main-image-bg-color) url("./img/loft-background.jpg") no-repeat local top left;
  background-size: cover;
}

.loft-main-content-layout {
  width: 90%;
  margin: 2em auto;
  line-height: 2em;
}

@media (max-width: 65em) {
  .loft-footer-contact-form-input-field {
    width: 100%;
  }
}

@media (max-width: 48.5em) {
  .loft-burger__icon {
  }

  .loft-navigation {
    display: none;
  }
}

@media (min-width: 48.5em) and (max-width: 300em) {
  .loft-burger__icon {
    display: none;
  }

  .loft-burger__hidden-menu {
    display: none;
  }

  .loft-navigation__links-group {
    display: flex;
  }
}