@import url(./../../project/style.css);

:root {
  --loft-contact-form-bg-color: var(--signal-black);
  --loft-contact-form-legend-color: var(--steel-blue);
}

.loft-contact-form {
  max-width: 30em;
  background: var(--loft-contact-form-bg-color);
}

.loft-contact-form fieldset {
  border: none;
}

.loft-contact-form fieldset legend {
  padding-top: 1em;
  color: var(--loft-contact-form-legend-color);
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  white-space: normal;
}

.loft-contact-form__input {
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  width: 100%;
}

.loft-contact-form__input-field {
  box-sizing: border-box;
  padding-left: 0.5em;
  height: 2.5em;
  width: 48%;
  font: 0.875em "Helvetica", Verdana, sans-serif;
}

.loft-contact-form__message {
  margin: 2em auto;
}

.loft-contact-form__message-field {
  box-sizing: border-box;
  padding: 0.5em;
  width: 100%;
  border: none;
  font: 0.875em "Helvetica", Verdana, sans-serif;
}

.loft-button-contact-form {
  margin: 2em auto;
}