nav {
  background-color: #FAFAFA;
  width: 449px;
  height: 39px;
}

nav > ul {
  list-style-type: none;
  padding: 0 0 0 5px;
}

nav li {
  display: inline-block;
  padding: 0 0.5px;
}

.number {
  border: 1px solid #b3b4d0;
  border-radius: 4px;
  box-shadow: 0 0 0.5px #b3b4d0;
}

.left:before {
  content: "\00AB\00A0";
}

.right:after {
  content: "\00A0\00BB";
}

.point:after {
  content: "\2026";
}

.pagination li a {
  color: #A23CD0;
  padding: 4px 7.5px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-family: sans-serif;
}

.pagination li a:hover {
  background-color: #A23CD0;
  color: #FAFAFA;
  border: 1px solid dimgray;
  padding: 4px 7.5px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-family: sans-serif;
}