table {
  font-size: 20px;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding: 7px;
  border-bottom: 1px solid #CACBCD;
}

table tr:nth-child(even) {
  background-color: #DDEBF8;
}

table td:nth-child(2n+3) {
  background-color: #F2F2DD;
}