div {
  margin-left: -8px;
}

input {
  display: none
}

input#red:checked ~ label[for="red"],
input#green:checked ~ label[for="green"],
input#blue:checked ~ label[for="blue"] {
  opacity: 0.5;
}

input#red:checked ~ .red,
input#green:checked ~ .green,
input#blue:checked ~ .blue {
  display: none;
}

label {
  text-decoration: underline;
  padding: 3px 22px 0;
  display: inline-block;
  font-family: Verdana;
  font-size: 17px;
}

label[for="red"] {
  color: red;
}

label[for="green"] {
  color: green;
}

label[for="blue"] {
  color: blue;
  margin-right: 22px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red, .green, .blue {
  display: inline-block;
  text-decoration: none;
  border-radius: 9px;
  padding: 4px 11px;
  color: white;
  font-family: Verdana;
}