@import "./../../project/style.css";

:root {
  --loft-navigation__link-text-color: var(--signal-black);
  --loft-navigation__link-hover-text-color: var(--cadet-blue);
  --loft-navigation__link-focus-text-color: var(--cadet-blue);
  --loft-navigation__link-before-bg-color: var(--cadet-blue);
}

.loft-navigation__links-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.loft-navigation__links-group-item {
  padding: 0 2em;
}

.loft-navigation__link {
  position: relative;
  color: var(--loft-navigation__link-text-color);
  font: 0.75em "Helvetica", Verdana, sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: color ease 0.2s;
}

.loft-navigation__link:hover {
  color: var(--loft-navigation__link-hover-text-color);
}

.loft-navigation__link:focus {
  outline: none;
  color: var(--loft-navigation__link-focus-text-color);
}

.loft-navigation__link:before {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: -20%;
  height: 0.1em;
  width: 100%;
  background: var(--loft-navigation__link-before-bg-color);
  opacity: 0;
  transition: 0.2s;
}

.loft-navigation__link:hover:before {
  left: 0;
  opacity: 1;
}