@import "./../../project/style.css";

:root {
  --loft-button-bg-color: var(--steel-blue);
  --loft-button-text-color: var(--white);
  --loft-button-border-color: var(--steel-blue);
  --loft-button-focus-bg-color: var(--steel-blue);
  --loft-button-focus-text-color: var(--white);
  --loft-button-active-bg-color: var(--white);
  --loft-button-active-text-color: var(--steel-blue);
}

.loft-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 1em;
  max-width: 100%;
  height: 2.5em;
  outline: none;
  border: 1px solid var(--loft-button-border-color);
  border-radius: 1em;
  box-shadow:
      0 0.25em 0.4em rgba(143, 148, 149, 0.1),
      0 0.1em 0.25em rgba(0, 0, 0, 0.08);
  color: var(--loft-button-text-color);
  background: var(--loft-button-bg-color);
  font: 1rem "Helvetica", Verdana, sans-serif;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  letter-spacing: 0.025em;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.loft-button:hover {
  transform: scale(0.93);
}

.loft-button:focus {
  background: var(--loft-button-focus-bg-color);
  color: var(--loft-button-focus-text-color);
}

.loft-button:active {
  background: var(--loft-button-focus-bg-color);
  color: var(--loft-button-focus-text-color);
}