body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-logo {
  width: auto;
  height: 100px;
  background: #fff url("img/logo.jpg") 218px 35px/256px 33px no-repeat;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.menu ul {
  height: 100px;
  margin: 0;
  padding: 55px 218px 0 0;
  list-style-type: none;
  float: right;
}

ul > li {
  display: inline-block;
  padding: 0 4px 20px 4px;
}

ul > li > a:link {
  box-sizing: border-box;
  color: #7f328b;
  font: 14px "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
  padding: 0 2px 25px 2px;
}

ul > li > a:focus,
ul > li > a:active {
  color: #FF0000;
  outline: none;
  border-bottom: 4px solid #3070A8;
}

li > a:hover {
  border-bottom: 4px solid #3070A8;
}

.content {
  max-width: 100%;
  height: 525px;
  background: scroll #888c94 url("img/title-back.jpg") 0 100%/cover no-repeat border-box;
  color: #fff;
  text-align: center;
  margin: auto;
}

.common-info {
  width: 65%;
  font: 100 34px "Open Sans", sans-serif;
  padding-top: 135px;
  margin: auto;
}

span {
  font-size: 42px;
  text-transform: uppercase;
}

.additional-info {
  width: 35%;
  font: italic 18px Calibri, sans-serif;
  padding: 15px 0;
  margin: auto;
}

.content a {
  width: 216px;
  color: #fff;
  font: 14px "Open Sans", sans-serif;
  display: block;
  box-sizing: border-box;
  margin: 25px auto;
  border: 1px solid #fff;
  padding: 16px 46px 14px 56px;
  text-align: center;
  text-decoration: none;
  cursor: default;
}

.content a:hover {
  box-shadow: 0 0 6px 3px #CCE2EF;
}