@import url(./../../project/style.css);

:root {
  --loft-button-bg-color: var(--signal-black);
  --loft-button-text-color: var(--white);
  --loft-button-border-color: var(--white);
  --loft-button-focus-bg-color: var(--white);
  --loft-button-focus-text-color: var(--signal-black);
  --loft-button-focus-border-color: var(--signal-black);
}

.loft-button {
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 1em;
  margin: 0;
  max-width: 100%;
  height: 2.5em;
  outline: none;
  border: 1px solid var(--loft-button-border-color);
  border-radius: 0.5em;

  color: var(--loft-button-text-color);
  background: var(--loft-button-bg-color);

  font-size: 1rem;
  font-weight: 500;
  line-height: 2.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  letter-spacing: 0.025em;
  white-space: nowrap;

  transition: all 0.2s 0.15s ease-in-out;
  cursor: pointer;
}

.loft-button:hover {
  transform: scale(0.97);
}

.loft-button:focus {
  background: var(--loft-button-focus-bg-color);
  color: var(--loft-button-focus-text-color);
  border: 1px solid var(--loft-button-focus-border-color);
}