.card-of-goods {
  width: 288px;
  height: 460px;
  border-radius: 4px;
  box-shadow: 0 0 20px #c5d8ef;
  border: 4px solid #EE8129;
}

.card-head {
  background: #EE8129;
  text-align: center;
  font: 24px Helvetica, sans-serif;
  padding: 23px;
  color: white;
  margin: 0;
  letter-spacing: -1.5px;
  word-spacing: 2px;
  text-transform: uppercase;
}

.price-head {
  text-align: center;
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  margin: 0 0 0 12px;
  line-height: 63px;
  text-transform: uppercase;
  letter-spacing: -2px;
  word-spacing: 2px;
  color: #35495A;
}

.price-body {
  line-height: 25px;
  font-size: 72px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  font-weight: bold;
  color: #35495A;
}

.price:before {
  content: "\0024\00A0";
  vertical-align: 2.5em;
  font-size: 16px;
  font-weight: bold;
}

.price:after {
  content: "Monthly";
  vertical-align: -0.7em;
  font-size: 16px;
}

.card-items {
  width: 288px;
  height: 140px;
  margin: 23px 0 0 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

ul {
  margin: 0;
  list-style-image: url("arrow.png");
  list-style-position: inside;
}

li {
  padding: 7px 32px 8px;
  margin: 1px 15px 0 -26px;
  line-height: 10px;
  font: 16px Helvetica, sans-serif;
  color: #35495A;
}

li:nth-child(odd) {
  background: #E8F2FB;
}

li:nth-child(even) {
  background: #F5F5F6;
}

li:nth-child(-n+2) {
  text-transform: uppercase;
}

.card-button {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  font: 14px Helvetica, sans-serif;
  margin: 13px 18px 20px;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  height: 18px;
  background: #EE8129;
  box-shadow: 0 3px 0 #B3560B;;
}