@import url(./../../project/style.css);

:root {
  --loft-burger__icon-item-bg-color: var(--signal-black);
  --loft-burger__icon-item-content-color: var(--white);
  --loft-burger__hidden-menu-bg-color: var(--white);
  --loft-burger__hidden-menu-link-text-color: var(--signal-black);
}

.loft-burger__checkbox {
  display: none;
}

.loft-burger__icon {
  position: fixed;
  top: 3em;
  right: 3em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.loft-burger__icon-item {
  width: 100%;
  height: 0.25em;
  border-radius: 0.1em;
  background: var(--loft-burger__icon-item-bg-color);
  color: var(--loft-burger__icon-item-content-color);
  transition: 0.3s ease-in-out;
}

.loft-burger__hidden-menu {
  position: fixed;
  top: 0;
  right: -12em;
  width: 12em;
  height: 100%;
  background: var(--loft-burger__hidden-menu-bg-color);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.loft-burger__hidden-menu-links-group {
  box-sizing: border-box;
  padding-top: 5em;
  list-style: none;
}

.loft-burger__hidden-menu-links-group-item {
  padding-bottom: 1em;
}

.loft-burger__hidden-menu-link {
  color: var(--loft-burger__hidden-menu-link-text-color);
  font-size: 1.25em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.loft-burger__checkbox:checked ~ .loft-burger__hidden-menu {
  right: 0;
  top: 0;
}

.loft-burger__checkbox:checked ~ .loft-burger__icon .loft-burger__icon-item:nth-child(1) {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.loft-burger__checkbox:checked ~ .loft-burger__icon .loft-burger__icon-item:nth-child(2) {
  opacity: 0;
}

.loft-burger__checkbox:checked ~ .loft-burger__icon .loft-burger__icon-item:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: bottom right;
}