@import url("./../../project/style.css");

:root {
  --loft-button-footer-bg-color: var(--signal-black);
  --loft-footer-layout-border-color: var(--signal-black);
  --loft-footer-message-text-color: var(--white);
  --loft-footer-message-bg-color: var(--signal-black);
  --loft-footer-message__article-border-color: var(--white);
  --loft-footer-message__form-input-field-border-color: var(--white);
  --loft-footer-message__form-input-field-text-color: var(--white);
  --loft-footer-message__form-input-field-bg-color: var(--signal-black);
  --loft-footer-message__form-textarea-field-border-color: var(--white);
  --loft-footer-message__form-textarea-field-text-color: var(--white);
  --loft-footer-message__form-textarea-field-bg-color: var(--signal-black);
  --loft-footer-contacts__article-border-color: var(--signal-black);
  --loft-footer-contacts__social-item_focused-outline-color: var(--signal-black);
}

.loft-footer-layout {
  display: flex;
  width: 100%;
  border: 1px solid var(--loft-footer-layout-border-color);
}

.loft-footer-message {
  box-sizing: border-box;
  padding: 4.5em 2.5em 2em;
  width: calc(50% - 1em);
  color: var(--loft-footer-message-text-color);
  background: var(--loft-footer-message-bg-color);
}

.loft-footer-message__article {
  width: max-content;
  width: -moz-max-content;
  margin-bottom: 2em;
  border-bottom: 1px solid var(--loft-footer-message__article-border-color);
  letter-spacing: 0.1em;
}

.loft-footer-message__form-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.loft-footer-message__form-input-field {
  width: calc(50% - 0.5rem);
  margin-bottom: 1em;
}

.loft-footer-message__form-input-field label {
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
}

.loft-footer-message__form-input-field input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-left: 1em;
  outline: none;
  border: 1px solid var(--loft-footer-message__form-input-field-border-color);
  border-radius: 0.5em;
  color: var(--loft-footer-message__form-input-field-text-color);
  background: var(--loft-footer-message__form-input-field-bg-color);
  line-height: 2.5rem;
}

.loft-footer-message__form-textarea {
  width: 100%;
  margin: 1em 0;
}

.loft-footer-message__form-textarea label {
  display: block;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
}

.loft-footer-message__form-textarea-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 1em 0 0 1em;
  outline: none;
  border: 1px solid var(--loft-footer-message__form-textarea-field-border-color);
  border-radius: 0.5em;
  color: var(--loft-footer-message__form-textarea-field-text-color);
  background: var(--loft-footer-message__form-textarea-field-bg-color);
}

.loft-footer-button-layout {
  margin: 1em 0;
}

.loft-footer-button:hover {
  transform: none;
}

.loft-footer-contacts {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1em);
  box-sizing: border-box;
  padding: 0 2em 0 10em;
}

.loft-footer-contacts__address-item:first-child {
  margin: 0;
}

.loft-footer-contacts__social {
  margin-top: 5em;
}

.loft-footer-contacts__social-item {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25em;
}

.loft-footer-contacts__social-item-img {
  width: 2em;
  height: 2em;
}

.loft-footer-contacts__article {
  width: max-content;
  width: -moz-max-content;
  margin: 4em 0 2em;
  border-bottom: 1px solid  var(--loft-footer-contacts__article-border-color);
}

@media (max-width: 65em) {
  .loft-footer-message__form-input-field {
    width: 100%;
  }
}