a {
  font-size: 30px;
}
a[href$="#"] {
  color: blue;
}
a[href^="https://"] {
  color: #f70;
}
a[href*="google"] {
  color:#666;
}
span {
  display: inline-block;
  transform: rotate(90deg);
  margin-left: 10px;
  text-decoration: none;
}
