body {

  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-weight: 600;
  font-size: 28px;
  color: #40525C;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 900px;
}

.pricing-block {
  border-radius: 5px;
  background: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
}

.title {
  font-size: 23px;
  font-weight: 600;
  margin: 0;
}

.content {
  font-size: 23px;
  font-weight: 600;
  color: #3f4042;
  padding: 18px 0 5px;
  margin: 0;
}

.value {
  font-size: 65px;
  font-weight: 800;
  line-height: 65px;
  color: #35495a;
  text-transform: none;
  margin: 0 auto;
  width: 100%;
}

.value sup {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: -10px;
  left: -3px;
}

.value sub {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: -5px;
}

.features {
  list-style-type: none;
  color: #888c94;
  margin: 0 auto 17px;
  padding: 0;
  width: 90%;
  font-size: 15px;
  text-align: left;
  text-transform: none;
}

.features > li {
  background: url("img/arrow.png") no-repeat;
  background-position: 32px 11px;
  padding: 7px 8px 8px 62px;
  border-bottom: 1px solid white;
}

.features > li:nth-child(odd) {
  background-color: #edf5fd;
}

.features > li:nth-child(even) {
  background-color: #f5f5f6;
}

.cta-btn {
  padding: 10px 0;
  margin: 3px auto 30px;
  width: 85%;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
}

/*Specific styles for BEST VALUE, STANDARD, ULTIMATE blocks*/
.best-value, .standard, .ultimate {
  margin: 50px auto;
  width: 290px;
  border: 4px solid #ee8129;
}

.standard, .ultimate {
  border: 1px solid #EFF0F2;
  margin-top: 65px;
}

.pricing-block .standard, .pricing-block .ultimate {
  box-shadow: none;
}

.pricing-block .best-value {
  box-shadow: 0 0 6px 3px #CCE2EF;
}

.standard, .best-value, .ultimate {
  float: left;
}

.standard .title {
  background: #2BC2D5;
  border-radius: 4px 0 0 0;
  color: #ffffff;
  padding: 14px 0;
}

.best-value .title {
  background: #ee8129;
  color: #ffffff;
  padding: 20px 0;
}

.ultimate .title {
  background: #00B89A;
  border-radius: 0 4px 0 0;
  color: #ffffff;
  padding: 14px 0;
}

.best-value .cta-btn {
  color: white;
  background: #ee8129;
  box-shadow: #b3560b 0 3px 0 0;
}

.standard .cta-btn, .ultimate .cta-btn {
  color: white;
  background: #2F70A8;
  box-shadow: #12426B 0 0 3px 0;
  margin: 0 auto 20px;
}