body {
  background-color: #111111;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.left-content {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.right-content {
  float: right;
  width: 50%;
  padding: 20px 0 20px 10px;
  box-sizing: border-box;
}

.header span {
  color: #EE8129;
}

.header {
  text-align: center;
  color: #3170A8;
  text-transform: uppercase;
  font-weight: 600;
  margin: 52px auto;
  font: 36px "Open Sans", sans-serif;
}

.img {
  float: left;
  width: 100px;
  height: 100px;
}

.img img {
  width: 100%;
  height: auto;
}

.user {
  width: auto;
  height: 92px;
  position: relative;
  padding: 6px 20px 2px 20px;
  margin-left: 125px;
  background: #fff;
}

.user:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #fff;
}

.user-info {
  border-bottom: 2px dotted #666;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 700;
  color: #3270a6;
  padding: 0 5px;
}

.user-feedback {
  padding-top: 6px;
  color: #A18899;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.user-status {
  float: right;
}